body {
    margin: 0;
    font-family: Arial;
    background: #f6f6f6;
}

header {
    background: #222;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00b3ff;
}

main {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.prod {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.prod img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    background: #222;
    color: white;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #00b3ff;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

.formulario input {
    padding: 10px;
    border: 1px solid #aaa;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.img-carrito {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.inline {
    display: inline-block;
}

.eliminar {
    background: red;
    color: white;
}

.comprar {
    background: green;
    color: white;
}
